# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment folders
venv/
.venv/
env/
.env/
ENV/

# IDE and Editor Configuration Files
.idea/
.vscode/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db